@charset "utf-8";

.form__row + .form__row {
  margin-top: 24px;
}

.form__input {
  display: block;
  width: 100%;
  max-width: 280px;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

.form__label {
  display: block;
  width: 100%;
  max-width: 280px;
  margin-bottom: 8px;
}

.form__textarea {
  display: block;
  width: 100%;
  max-width: 280px;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
}
