@charset "utf-8";

.header {
  border-bottom: 1px solid #ccc;
}

.header__list {
  padding: 0;
  margin: 0;
}

.header__list-item {
  display: inline-block;
}

.header__link {
  display: inline-block;
  padding: 0.8em 1.6em;
  text-decoration: none;
  color: currentColor;
}